<div class="card-body p-0 bg-light"
     data-controller="sortable-tree">

  <div data-sortable-tree-parent-id-value="<%= @taxonomy.root.id %>">

    <% if @taxonomy.root.children.present? %>
      <% @taxonomy.root.children.each do |root_children| %>
        <%= build_sortable_tree(@taxonomy, root_children) %>
      <% end %>
    <% else %>
      <div class="text-center no-objects-found m-5 m-5">
        <%= raw I18n.t('spree.dash.taxonomies.no_taxons', taxonomy: @taxonomy.root.name ) %>
      </div>
    <% end %>

  </div>
</div>
