<div class="text-end d-lg-none ps-3 py-2 border-bottom d-flex align-items-center">
  <div class="d-flex flex-grow-1 text-primary"></div>
  <button
    id="sidebar-close"
    class="btn btn-link"
    type="button"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <%= svg_icon name: "x-lg.svg", width: '20', height: '20', classes: 'p-0 m-0' %>
  </button>
</div>
