<div class="col p-0 d-lg-none">
  <button
    id="sidebar-open"
    class="btn btn-success "
    type="button"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <%= svg_icon name: "list.svg", width: '25', height: '25' %>
  </button>
</div>
