<div class="card">
  <div class="card-header">
     <h5 class="card-title">Customer</h5>
  </div>
  <div class="card-body">
    <%= form_for @order, url: spree.admin_order_associate_user_path(@order), data: { turbo_frame: dom_id(@order), controller: "form-validation" } do |f| %>
              <div class="form-group form-floating">
                <% if @order.user_id %>
                  <% selected_user = [[@order.email, @order.user_id]]%>
                <% else %>
                  <% selected_user = [] %>
                <% end %>

                <%= f.select :user_id, selected_user, { include_blank: true }, class: 'form-select',
                                                                    placeholder: Spree.t('admin.order.search_users_by_name_or_email'),
                                                                    data: { action: 'change->form-validation#validate',
                                                                            controller: 'ts--search-user',
                                                                            ts__search_user_debug_value: false,
                                                                            ts__search_user_plugins_value: ['clear_button'],
                                                                            ts__search_user_uri_value: '/api/v2/platform/users',
                                                                            ts__search_user_ransack_value: ['email_i_cont', 'addresses_firstname', 'addresses_lastname'],
                                                                            ts__search_user_include_value: 'ship_address.country,bill_address.country' } %>

                <%= f.label :user_id, raw(Spree.t(:user_id) + required_span_tag), class: 'form-label' %>
              </div>

              <%= f.submit Spree.t('admin.order.add_user_to_order'), class: 'btn btn-secondary', data: { form_validation_target: "submitBtn" } %>
     <% end %>
  </div>
</div>
