<div class="input-group-text append_over data-clear rounded-end" data-clear>
  <%= svg_icon name: "x-lg.svg", width: '16', height: '16' %>
</div>

<div class="input-group-text append_under data-toggle rounded-end" data-toggle>
  <%= svg_icon name: "calendar.svg", width: '16', height: '16' %>
</div>
