<div class="input-group-text append_over data-clear rounded-end" data-clear>
  <%= inline_svg_tag "x-lg.svg", size: '16px * 16px' %>
</div>

<div class="input-group-text append_under data-toggle rounded-end" data-toggle>
  <%= inline_svg_tag "calendar.svg", size: '16px * 16px' %>
</div>
