<% date_time ||= false  %>
<% value ||= nil  %>
<% placeholder ||= Spree.t(:select_a_date) %>

<div class="input-group datepicker" data-controller="flatpickr"
                                    data-wrap="true"
                                    data-flatpickr-enable-time="<%= date_time %>" >
  <% if date_time %>
    <%= f.datetime_field field.to_sym, class: 'js-filterable',
                                       placeholder: placeholder,
                                       value: value,
                                       data: { input:'' } %>
  <% else %>
    <%= f.send(:text_field) field.to_sym, class: "js-filterable",
                                   placeholder: placeholder,
                                   value: value,
                                   data: { input:'' } %>
  <% end %>

  <%= render partial: 'spree/admin/shared/cal_close' %>
</div>
