<header class="header logged-in">
  <nav class="navbar fixed-top navbar-dark flex-nowrap bg-primary p-0">
    <div class="container-fluid">
      <div class="col p-0 d-lg-none">
        <button
          id="sidebar-open"
          class="btn btn-primary"
          type="button"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <%= svg_icon name: "list.svg", width: '25', height: '25' %>
        </button>
      </div>

      <div id="storeSwitcherDropdown" class="col-auto text-center text-lg-start px-0 align-items-center dropdown-center">
        <%= render partial: 'spree/admin/shared/store_switcher' %>
      </div>

      <div class="col text-end p-0">
        <%= render partial: 'spree/admin/shared/account_nav' %>
      </div>
    </div>
  </nav>
</header>
