<div id="mobileButtons" class="btn-group shadow position-fixed bottom-0 left-0 mb-4 ms-2 d-lg-none">
  <button id="sidebar-open"
          class="btn btn-secondary"
          type="button"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <%= svg_icon name: "list.svg", width: '16', height: '16' %>
  </button>

  <button id="search-open"
          class="btn btn-secondary"
          type="button"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <%= svg_icon name: "search.svg", width: '16', height: '16' %>
  </button>
</div>
