.header {
  .navbar {
    min-height: var(--nav-bar-height);

    #storeSwitcherDropdown {
      .dropdown-menu.show {
        min-width: 250px;
        width: fit-content;
        max-width: 90vw;
        max-height: 70vh;
        overflow-y: hidden !important;

        @include media-breakpoint-up(lg) {
          left: 0%;
          right: 0%;
          transform: translate(0%, 0%);
        }

        a {
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;

          svg {
            vertical-align: text-top;
            margin-right: 1em;
          }

          &.disabled svg {
            color: var(--bs-success);
          }
        }
      }
    }
  }
}
